/* 
#########################################################################
#            ESTILOS GENERALES APLICADOS A TODAS LAS PAGINAS            #
#########################################################################
*/

/*Fuente de la pagina e instrucciones generales*/
@font-face {
	font-family: "Poppins-Regular";
	src: url("../fonts/Poppins-Regular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
body{
	color: black;
	text-align: left;
	font-size: 18px;
	font-family: "Poppins-Regular";
	display: grid;
	grid-template-rows: auto auto auto;
	font-size: 14px;
}
/*Menu arriba*/
#menu-fijo{
	background-color: #F0F0DD;
	color: black;
	width: 100%;
	display: grid;
	grid-template-columns: auto auto;
}
/*Configuracion para que los 2 menus esten arriba siempre*/
.sticky{
	position: sticky;
	top: 0;
	background-color: #F0F0DD;
	z-index: 1;
}
.sticky2{
	position: sticky;
	top: 4%;
	background-color: #FDF0E9;
	z-index: 1;
}
/*Titulo del menu*/
#men-iz{
	padding-left: 50%;
}
#men-der{
	padding-left: 27%;
}
#men-der a{
	color: black;
	text-decoration: none;
}
/*Bloque central de la pagina*/
#centrado{
	background-color: #FDF0E9;
	width: 100%;
	max-width: 1170px;
	margin: 0 auto;
	display: grid;
}
/*Menu de navegacion superior*/
#bloq-menu1{
	display: grid;
	width: 100%;
	padding-left: 2%;
	padding-right: 2%;
	margin-top: 0;
	grid-template-columns: 65% 35%;
}
.menu1{
	text-align: left;
	padding-top: 3%;
}
.menutop{
	display: inline;
	text-align: center;
	padding: 20px;
	color: #175E2F;
}
.menutop:hover{
	text-decoration: none;
	border-top-style: solid;
	border-color: #343a3e;
	border-width: 3px;
	font-weight: bold;
	color: #044116;
}
.menutop:focus{
	text-decoration: none;
	border-top-style: solid;
	border-color: #343a3e;
	border-width: 3px;
	font-weight: bold;
	color: #044116;
}
.menutop:active{
	text-decoration: none;
	border-top-style: solid;
	border-color: #343a3e;
	border-width: 3px;
	font-weight: bold;
	color: #044116;
}
/*Estilos ul*/
ul{
	list-style-type: none;
}
ul a{
	text-decoration: none;
	color: #1c7430;
}
/*Estilo figure*/
figure img{
	width: 100%;
	margin: 0;
}

/*Bloque footer*/
footer{
	display: grid;
	width: 100%;
	border-top-style: solid;
	border-color: grey;
	border-width: 1px;

}
.bloq-menu2{
	display: grid;
	grid-template-columns: auto auto auto;
}
.tit-foo{
	display: grid;
}
.iconos{
	display: grid;
	justify-content: right;
	margin-right: 0;
	padding-top: 4%;
}
/*Menu inferior*/
.menu2{
	display: grid;
	padding-left: 15%;
	padding-top: 3%;
}
.menubot{
	display: inline;
	text-align: center;
	padding: 20px;
	color: #186329;
}
.menubot:hover{
	text-decoration: none;
	font-weight: bold;
	color: #044116;
}
p a{
	color: black;
	text-decoration: none;
}
/*Estilo de titulos*/
h1{
	font-size: 50px;
}
h2{
	font-size: 30px;
}
h3{
	font-size: 28px;
}
h4{
	font-size: 26px;
}
h5{
	font-size: 22px;
}
h6{
	font-size: 12px;
}

/* 
#########################################################################
#                   ESTILOS APLICADOS A INDEX.HTML                      #
#########################################################################
*/

/*Bloque superior*/
#bloq-head{
	display: grid;
	background-color: #FDF0E9;
	color: white;
	grid-template-rows: auto auto;
}
/*Estilo banner*/
#banner-home{
	display: grid;
	margin: 0;
	background-image: url(../images/header_background.jpg);
	background-size: cover;
	width: 100%;
	max-width: 1170px;
	margin: 0 auto 0 auto;
	min-height: 500px;
	grid-template-rows: auto auto auto auto auto;
	text-align: center;
}
/*Estilo para elementos del banner*/
#negro{
	color: black;
}
/*Primera parte del banner con contador*/
#contador{
	display: grid;
	grid-template-columns: auto auto auto auto;
	background-color: black;
	padding-left: 20%;
	padding-right: 20%;
	opacity: 50%;
}
#col-cont{
	display: grid;
	grid-template-rows: auto auto;
}
/*Boton del banner*/
#boton-ban{
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 4%;
}
#txt-ban{
	color: black;
	background-color: white;
	display: flex;
	justify-content: center;
	padding-left: 2%;
	padding-right: 2%;
	width: 120px;
	height: 50px;
	transition: width 1s, height 1s;
}
#txt-ban:hover{
	width: 150px;
	height: 70px;
}
/*Galeria de imagenes debajo del banner*/
#galeria{
	display: grid;
	grid-template-columns: 20% 20% 20% 20%;
	gap: 4%;
	margin: auto;
}
#galeria figure{
	max-width: 255px;
	width: 100%;
}
/*Primera parte del article*/
#part1{
	display: grid;
	grid-template-rows: auto auto;
}
#part1-text{
	display: grid;
	grid-template-columns: 75% 20%;
	padding: 3%;
	gap: 2%;
}
#part1-img{
	display: grid;
	margin: 0;
	background-image: url(../images/banner_home.jpg);
	background-size: cover;
	width: 100%;
	max-width: 1170px;
	margin: 0 auto 0 auto;
	min-height: 500px;
}
/*Caption del segundo banner*/
#caption-banner{
	text-align: right;
	border-top-style: solid;
	border-color: grey;
	border-width: 1px;
	margin-top: 450px;
	padding-left: 3%;
	padding-right: 3%;
	color: white;
}
/*Segunda parte del article*/
#part2{
	display: grid;
	width: 100%;
	
}
#part2 h2{
	text-align: center;
}
/*Bloque de opciones*/
#options{
	display: grid;
	grid-template-columns: 30% 30% 30%;
	gap: 3%;
	padding: 3%;
	margin-left: 3%;
}
.opt{
	display: grid;
	grid-template-rows: 45% 55%;
}
.opt-img{
	
}
.opt-img figure{
	width: 100%;
	margin: 0;
} 
.opt-txt{
	display: grid;
	grid-template-columns: 30% 70%;
	padding: 2%;
	background-color: #52575B;
}
.aux{
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
	background-color: rgba(124,131,139,0.3);
}
.aux2{
	display: flex;
	
	background-color: #52575B;
}
.opt-txt1{
	transform: rotate(270deg);
	color: black;
	background-color: white;
	width: 100%;
	display: flex;
	justify-content: center;
	transition: width 1s, height 1s;
	width: 100px;
	height: 50px;
}
.opt-txt1:hover{
	width: 120px;
	height: 70px;
}
.opt-txt2{
	color: white;
	display: grid;
	grid-template-rows: 80% 20%;
	padding: 8%;
	background-color: #52575B;
}
.txt-ban-home{
	color: white;
	background-color: rgba(124,131,139,0.3);
	display: flex;
	padding-left: 5%;
	padding-right: 5%;
}

/* 
#########################################################################
#                   ESTILOS APLICADOS A PLACES.HTML                     #
#########################################################################
*/

/*Banner*/
#banner-places{
	display: grid;
	margin: 0;
	background-image: url(../images/banner_places.jpg);
	background-size: cover;
	width: 100%;
	max-width: 1170px;
	margin: 0 auto 0 auto;
	min-height: 500px;
	grid-template-rows: 25% 25% 25% 25%;
	text-align: center;
}
#banner-places h5{
	color: white;
}

#bloq-head-places{
	display: grid;
	grid-template-rows: auto auto;
}
/*Menu inferior del banner*/
#menu-places-header{
	display: grid;
	grid-template-columns: 10% 10% 80%;
	padding-left: 2%;
	padding-right: 2%;
}
.men-places{
	text-align: center;
}
.men-places a{
	text-decoration: none;
	color: black;
}
.men-places:hover{
	border-top-style: solid;
	border-color: grey;
	border-width: 1px;
	color: grey;
	font-weight: bold;
}
.men-places a:hover{
	font-weight: bold;
	text-decoration: none;
	color: grey;
}
/*Boton estilo negro y blanco*/
#but-places{
	display: flex;
	justify-content: end;
	align-items: end;
	padding: 2%;
}
.txt-ban-places{
	color: white;
	background-color: #343a3e;
	display: flex;
	padding-left: 5%;
	padding-right: 5%;
	width: 100px;
	height: 50px;
	transition: width 1s, height 1s;
}
.txt-ban-places:hover{
	width: 120px;
	height: 70px;
}
.but-article{
	display: flex;
	justify-content: start;
	align-items: start;
	padding: 2%;
}

/*Bloque general de contenido*/
#contenido-places{
	display: grid;
	grid-template-columns: auto auto;
	padding-left: 2%;
	padding-right: 2%;
	gap: 3%;
}
/*Menu lateral aside*/
#aside {
	display: grid;
	grid-template-rows: auto auto auto;
	padding-left: 2%;
	padding-right: 2%;
}
.cont-aside{
	display: grid;
	border-bottom-style: solid;
	border-color: grey;
	border-width: 1px;
	padding: 4%;
	background-color: white;
}
.cont-aside ul{
	text-indent: -22%;
}
.cont-aside h5:hover{
	opacity: 50%;
}
.cont-aside li:hover{
	opacity: 50%;
}
/*Opciones article*/
#article{
	display: grid;
	grid-template-rows: auto auto auto;
	padding-left: 2%;
	padding-right: 2%;
}
.sitios{
	display: grid;
	grid-template-columns: 33% 33% 33%;
	border-style: solid;
	border-color: grey;
	border-width: 1px;
	gap: 2%;
	padding: 2%;
	margin-top: 5%;
}
.sitios figure{
	width: 100%;
	margin: 0;
}

/*Tabla informativa*/
#tabla{
	display: grid;
	grid-template-columns: auto auto auto auto;
	padding: 2%;
}
.tabla-columna{
	display: grid;
	grid-template-rows: auto auto auto auto;
}
.tabla-fila1{
	color: white;
	background-color: #7c838b;
	border-bottom-style: solid;
	border-color: black;
	border-width: 1px;
	padding-left: 4%;
}
.tabla-fila2{
	color: black;
	background-color: pink;
	border-bottom-style: solid;
	border-color: grey;
	border-width: 1px;
	padding-left: 4%;
}
.tabla-fila3{
	color: black;
	background-color: white;
	border-bottom-style: solid;
	border-color: grey;
	border-width: 1px;
	padding-left: 4%;
}

/*Seccion subscribe*/
#subscribe{
	display: grid;
	grid-template-columns: 40% 40% 10%;
	color: white;
	background-color: #7c838b;
	padding-left: 2%;
	padding-right: 2%;
	gap: 5%;
}
/*Estilo imput email*/
#subscribe input[type=email]{
	width: 100%;
	background-color: #7c838b;
}
#subscribe input[type=email]::placeholder {
  color: white;
  opacity: 1;
}
.pplaces a{
	color: white;
	text-decoration: none;
}
#h1solo{
	padding: 2%;
}

/* 
#########################################################################
#                   ESTILOS APLICADOS A CONTACT.HTML                    #
#########################################################################
*/

/*Bloque general formulario*/
#formulario{
	display: grid;
	grid-template-rows: auto auto auto auto auto;
	background-color: grey;
	padding: 5%;
	margin-bottom: 22%;
}
/*Filas con 2 imputs*/
.doble-form{
	display: grid;
	grid-template-columns: auto auto;
	gap: 5%;
}
/*Estilo de diferentes imputs*/
input[type=text]{
	width: 100%;
	padding: 4%;
	margin: 2%;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}
input[type=email]{
	width: 100%;
	padding: 4%;
	margin: 2%;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}
input[type=tel]{
	width: 100%;
	padding: 4%;
	margin: 2%;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}
input[type=date]{
	width: 100%;
	padding: 4%;
	margin: 2%;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}
/*Estilo textarea*/
textarea{
	width: 100%;
	padding: 4%;
	margin: 1%;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	resize: none;
}
/*Estilo button*/
button[type=submit] {
	width: 20%;
	color: white;
	background-color: black;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}
